* {
  font-family: "Mulish", sans-serif;
  font-size: 1.05rem;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #04dafe !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fadadd;
  color: #333333;
}

section {
  margin: 70px 0;
}

h1 {
  font-weight: 900;
  margin-bottom: 20px;
}

h2 {
  color: #c37c13;
  font-weight: 900;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.spinner {
  position: fixed;
  background: #fadadd;
  inset: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 1s;
}
.spinner .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.spinner .loader:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%, 60%, 100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
header:not(#forHome) {
  color: #eee;
  height: 50vh;
  background-image: url(../../imgs/home/Prophylaxis.webp);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

footer .container:first-child {
  margin: 30px auto;
}
@media (max-width: 575px) {
  footer .container:first-child {
    margin: 0px auto;
  }
}
footer .container:last-child {
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  footer .container:last-child .col-11 small {
    display: block;
  }
}

footer hr {
  margin-top: 0;
}

footer a {
  line-height: 2.5rem;
}
footer a:hover {
  color: #04dafe;
}

footer ul li {
  position: relative;
  margin-left: 15px;
}
footer ul li::before {
  position: absolute;
  content: "";
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left-color: #04dafe;
}

footer #backToTop {
  cursor: pointer;
  font-size: smaller;
}
footer #backToTop:hover {
  color: #04dafe;
}
@media (max-width: 575px) {
  footer #backToTop {
    display: none;
  }
}

#forHome {
  color: #eee;
  height: 100vh;
  background-image: url(../../imgs/home/pedo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.owl-theme .owl-nav {
  position: absolute;
  top: -30px;
  right: 0;
}
.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-next {
  background: #ddd !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.owl-theme .owl-nav button.owl-prev:hover,
.owl-theme .owl-nav button.owl-next:hover {
  background-color: #04dafe !important;
}
.owl-theme .owl-nav button.owl-prev span,
.owl-theme .owl-nav button.owl-next span {
  font-size: 30px;
}

.owl-theme .owl-dots {
  display: none;
}

#patients .owl-item {
  padding: 0 10px;
}
#patients .owl-item .quote {
  padding: 5px 30px;
  margin: 50px 0;
  height: 480px;
  background-color: #eee;
  border-radius: 12px;
  transition: all 0.1s;
}
#patients .owl-item .quote:hover {
  box-shadow: 3px 3px 9px 0px black;
}
#patients .owl-item .quote .quote-icon {
  background-color: #fadadd;
  color: #04dafe;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#patients .owl-item .quote .quote-content {
  margin: 25px 0;
  height: 265px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
#patients .owl-item .quote .client .client-name {
  font-weight: bold;
}

#doctors .owl-item {
  padding: 0 10px;
}
#doctors .owl-item .doctor {
  padding: 50px 30px;
  margin: 50px 0;
  min-height: 500px;
  background-color: #eee;
  border-radius: 12px;
  transition: all 0.1s;
}
#doctors .owl-item .doctor:hover {
  box-shadow: 3px 3px 9px 0px black;
}
#doctors .owl-item .doctor .doctor-image {
  padding: 20px 60px;
}
#doctors .owl-item .doctor .doctor-image img {
  overflow: hidden;
  width: 100%;
  height: auto;
}
#doctors .owl-item .doctor .doctor-name {
  margin: 40px 0 0 0;
  font-weight: bold;
}

#stadio h2 {
  margin: 50px 0;
}
#stadio img {
  object-fit: cover;
  max-height: 600px;
  border-radius: 10px;
}

.light-theme {
  background: #ffffff;
  color: #333;
}

.dark-theme {
  background: #1a1a1a;
  color: #f9f9f9;
}

/*# sourceMappingURL=main.css.map */
