@use "../helpers/variables" as *;

* {
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin: 70px 0;
}

body {
  background-color: $darkWhite;
  color: $darkGray;
}
