@use "../helpers/variables" as *;

* {
  font-family: "Mulish", sans-serif;
  font-size: 1.05rem;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $mainColor !important;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: $pastelPink;
  color: $darkGray;
}

section {
  margin: 70px 0;
}

h1 {
  font-weight: 900;
  margin-bottom: 20px;
}

h2 {
  color: $sectionHeader;
  font-weight: 900;
}
