@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

#stadio {
  h2 {
    margin: 50px 0;
    text-align: center;
  }
  img,
  video {
    object-fit: cover;
    max-height: 600px;
    border-radius: 10px;
  }
}

#whyChooseUs {
  .container {
    background-color: $secondaryColor;
    padding: 5px 80px 80px 80px;
    color: $darkWhite;
  }
  h2 {
    margin: 50px 0;
    text-align: center;
  }
  .items {
    .item {
      display: flex;
      border-bottom: 2px solid $darkWhite;
      padding: 10px;
      margin-bottom: 20px;
      .item-icon {
        width: 60px;
        margin-right: 20px;
        img {
          width: 100%;
          height: auto;
        }
      }
      .item-info {
        h4 {
          font-weight: 500;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #whyChooseUs .container {
    padding: 5px 5px 80px 5px;
  }
  #whyChooseUs .item-icon {
    display: none;
  }
}

#faq {
  .container {
    padding: 5px 0 80px 0;
    color: $darkWhite;
    h2 {
      margin: 50px 0;
    }
    .items {
      .item {
        background-color: $secondaryColor;
        border-bottom: 2px solid $darkWhite;
        padding: 40px 20px;
        margin-bottom: 20px;
        transition: all 0.3s;
        .question {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h4 {
            font-weight: 500;
          }
          button {
            font-size: 30px;
            background-color: transparent;
            color: $darkWhite;
            border: none;
          }
        }
        .answer {
          line-height: 1.8rem;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease;
        }
      }
    }
  }
}

.item-active {
  background-color: $tertiaryColor !important;
}
