@use "../helpers/variables" as *;

.appointment-form {
  max-width: 700px;
  padding: 60px;
  background: $darkWhite;
  border-radius: 12px;
}
.btn-custom {
  background-color: $secondaryColor;
  color: $darkWhite;
  font-weight: 500;
}
.btn-custom:hover {
  background-color: $tertiaryColor;
}
