$mainColor: #04dafe;

$darkWhite: #eee; // Body
$darkGray: #333333; // Text
$lightPastelBlue: #eaf6f6; // Header / Footer
$gintGreen: #a8e6cf; // Buttons (primary)
$pastelPeach: #ffd3b6; // Buttons (hover)
$softLavender: #e4c1f9; // Icons

$pastelPink: #fadadd;
$pastelBlue: #aec6cf;
$pastelGreen: #77dd77;
$pastelYellow: #fffacd;
$pastelPurple: #cbaacb;
