$mainColor: #04dafe;
$secondaryColor: #1b898b;
$tertiaryColor: #c37c13;
$darkWhite: #eee;
$darkGray: #333333;

$pastelPink: #fadadd;
$pastelBlue: #aec6cf;
$pastelGreen: #77dd77;
$pastelYellow: #fffacd;
$pastelPurple: #cbaacb;
