$mainColor: #04dafe;
$darkWhite: #eee;
$darkGray: #333333;
$sectionHeader: #c37c13;

$pastelPink: #fadadd;
$pastelBlue: #aec6cf;
$pastelGreen: #77dd77;
$pastelYellow: #fffacd;
$pastelPurple: #cbaacb;
